body {
    margin: 0;
    background: #3B3B3B;
    color: #FFFBEF;
    padding: 25px;
    font-family: 'Montserrat', 'Chakra Petch' Arial, sans-serif;
    font-size: 18px;
}
li {
    list-style-type: none;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.navcontent {
    float: right;
}

.navcontent-r {
    float: left;
}

    .navcontent a, .navcontent-r a {
        display: block;
        color: #9e9a8f;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        border-bottom: 0;
    }

a {
    text-decoration: none;
    border-bottom: 2px dotted;
    color: #9e9a8f;
}

a:hover {
    color: #f1ede1;
    text-decoration-line: none;
}


    
.license {
  text-align: center;
  padding: 16px 16px;
}
.acronym, .em, h1, h2, h4 {
    font-weight: 700;
}